.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 2px;
}

.input__container {
  display: flex;
  gap: 30px;
  align-items: center;
}
input {
  padding: 5px 30px;
  font-size: 20px;
}

.input__button {
  outline: none;
  width: 120px;
  height: 42px;
  background-color: #4caf50;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 10px 20px;
}

.cart__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
  gap: 20px;
  max-width: 500px;
  width: 100%;
  border-radius: 15px;
  list-style: none;
}
.cart__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 40px;
  gap: 20px;
  background-color: lightgoldenrodyellow;
  width: 100%;
  text-align: center;
  border-radius: 15px;
  font-size: 18px;
}
.button__remove {
  width: 35px;
  height: 30px;
  background-color: rgb(252, 49, 49);
  border: none;
  border-radius: 20px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}
